/* Header */
.block-header__logomarca {
    flot: left;

    width: 99px;
    height: 68px;
}

.block-header_descricao {
    width: 98px;

    font-size: 21px;
    font-wight: bold;
    text-align: center;
}

.block-header__menu {
    float: right;

    /*padding-top: 30px;*/
}

.header-menu__item {
    display: inline-block;
    position: relative;

    padding: 5px;
    width: 85px;
    border-bottom: 3px solid #ffa000;
    -webkit-transition: border-bottom 1s ease-out;
       -moz-transition: border-bottom 1s ease-out;
         -o-transition: border-bottom 1s ease-out;
        -ms-transition: border-bottom 1s ease-out;

    font-weight: bold;
    color: #000;
    text-align: center;
}

.header-menu__item:hover {
    border-bottom: 3px solid #046;
    filter: alpha(opacity=50);
    -moz-opacity> 1;
    -opacity: 1;

    color: #046;
}

.header-menu__item--button {
    margin-top: 10px;
    color: #bbb;
}

.header-submenu__item {
    padding: 5px;
    width: 90px;
    border-left: 3px solid #ffa000;
    -webkit-transition: border-bottom 0.5s ease-out;
       -moz-transition: border-bottom 0.5s ease-out;
         -o-transition: border-bottom 0.5s ease-out;
        -ms-transition: border-bottom 0.5s ease-out;

    color: #000;
}

.header-submenu__item:hover {
    border-left: 3px solid #036;
    filter: alpha(opacity=50);
    moz-opacity: 1;
    opacity: 1;

    color: #046;
}
