div.display {
    border: 1px solid red;
    display: inline-block;
}

span.display {
    border: 1px solid blue;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul > li {
    float: left;
}

li {
    border: 1px solid black;
}

ul > li > ul {
    display: none;
}

/*usando a pseudo classe hover*/
li:hover > ul {
    display: block;
}

div.conteudo {
    background-color: green;
}

.primeiracoluna {
    float: left;
    width: 48%;
}

.segundacoluna {
    float: right;
    width: 48%;
}

div.conteudo::after {
    content: "";
    display: block;
    clear: both;
}